{% extends 'base.html.twig' %}
{% block body %}

<h1>Liste des parties</h1>

<a href="{{ path('catane_nouvelle_partie') }}">Nouvelle partie</a>
<a href="{{ path('catane_liste_joueurs') }}">Liste des joueurs</a>


<table>
	<thead>
		<tr>
			<th>id</th>
			<th>nom</th>
			<th>plateau</th>
		</tr>
	</thead>
	<tbody>
	{% for partie in parties %}
		<tr>
			<td>{{ partie.id }}</td>
			<td>{{ partie.name }}</td>
			<td>{{ partie.plateau.id }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock %}

