{% extends 'base.html.twig' %}
{% block body %}

<h1>Partie {{ partie.id }}</h1>

{% set rapport = 10 %}
{% set rayon = 100 %}
{% set c = 0.86 %}
{% set s = 0.5 %}

<svg width="5000" height="5000">

		{% for tuile in partie.plateau.tuiles %}
			<polygon points="{{ rapport*tuile.x }},{{ rapport*tuile.y+rayon }} 
								{{ rapport*tuile.x+rayon*c }},{{ rapport*tuile.y+rayon*s }}
								{{ rapport*tuile.x+rayon*c }},{{ rapport*tuile.y-rayon*s }}
								{{ rapport*tuile.x }},{{ rapport*tuile.y-rayon }}
								{{ rapport*tuile.x-rayon*c }},{{ rapport*tuile.y-rayon*s }}
								{{ rapport*tuile.x-rayon*c }},{{ rapport*tuile.y+rayon*s }}"
			class="{{ tuile.type }}" /> 
			{% if tuile.palet %}
			<circle cx="{{ rapport*tuile.x }}" cy="{{ rapport*tuile.y }}" r="10" stroke="black" stroke-width="1" fill="white">
			</circle>
			<text x="{{ rapport*tuile.x }}" y="{{ rapport*tuile.y }}" text-anchor="middle" fill="black">{{ tuile.palet }}</text>
			{% endif %}
{% endfor %}
</svg>

{% endblock %}

